* {
    margin: 0;
}
header {
    background-color: #fdfbfd;
}
#logo {
    padding: 35px;
    position: relative;    
    margin: 0px auto;
    height: 126px;
    width: 129px;
}
a.logo {
    text-decoration: none;
    color: #fdfbfd;
    text-align: right;
    font-family: helvetica;
}
div#logo-circle {
    background-color: rgb(97, 28, 137);
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 0;
    border-radius: 90px;
}
div#logo-number {
    font-size: 10px;
    z-index: 100;
    position: absolute;
    width: 93px;
    height: 90px;
    line-height: 92px;
}
div#logo-name {
    position: absolute;
    bottom: 42px;
    color: #000;
    width: 86px;
    font-size: 20px;
}
