extends ../layout.jade

block variables
    - pageTitle = "O que é pomodoro?"
block scripts
    script(src='/routes.js')
block content
    section
        article
            p A Técnica Pomodoro é um método de gerenciamento de tempo a qual se divide o trabalho em períodos de 25 minutos.
            p baseada na ideia de que pausas frequentes podem aumentar a agilidade mental
            p com o uso desta técnica é possível que se crie uma unidade de esforço temporal fazendo com que o usuário saiba medir melhor quais tarefas demandam mais esforço temporal ajudando a detectar seus pontos fracos e o "incitando" a aprimorá-las com mais foco.
            p São somente cinco os passos básicos para implementar essa técnica:
            ol
                li Escolher a tarefa a ser executada
                li Clicar no botão "pomodoro" para que o Ponto4U crie um alarme em 25 minutos
                li Trabalhar na tarefa até que o alarme toque (O Ponto4U o notificará mesmo que o seu navegador esteja em segundo plano e mostrará o tempo corrente no título da aba do seu navegador)
                li Clicar no botão para fazer um intervalo de 5 minutos (O Ponto4U também dispõe de um alarme de 5 minutos que funciona da mesma forma que o alarme do Pomodoro para avisá-lo que o seu intervalo acabou)
            a(href="/pomodoro.html") Comece já a usar!
