extends ../layout.jade

block variables
    - pageTitle = "- Pomodoro"
block scripts
    script(src='/pomodoro.js')
block content
    nav
        ul(id="menu")
            li
                a(id="pomodoro-trigger") Pomodoro!
            li
                a(id="5-min-trigger") 5-min-interval
    section
        div(id="timer") 25:00
        div(id="pomodoro-timer")
            canvas(id="pomodoro", width="90", height="90")
