extends ../layout.jade

block variables
    - pageTitle = "Pomodoro"
block scripts
    script(src='/pomodoro.js')
block content
    section
        div(id="timer") 25:00
        div(id="pomodoro-timer")
            canvas(id="pomodoro", width="90", height="90")
            canvas(id="myCanvas", width="90", height="90")
