extends ../layout.jade

block variables
    - pageTitle = "Pomodoro"
block scripts
    script(src='/pomodoro.js')
block content
    section
        div(class="central-wrapper w206")
            div(id="time-elapsed", class="stats") 25:00
            //- div(id="pomodoro-timer")
            //-     canvas(id="plant", width="90", height="90")
            //-     canvas(id="pomodoro", width="90", height="90")
    section
        div(class="central-wrapper w420")
            //- div(id="time-elapsed", class="stats") 0
            //- div(id="pomodoro-count", class="stats") 0
          nav
            ul(id="pomodoro-controls")
                li
                    a(id="pomodoro-trigger") Novo pomodoro
                    a(id="pomodoro-interval") Novo intervalo
