doctype html
html(lang='pt-BR')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=yes')
        title Ponto4U - #{title}
        link(href='main.css', rel='stylesheet', type='text/css')
        block scripts
    body
        header
            #logo
                a.logo(href='http://ponto4u.com.br/', title='ponto4u logo')
                    #logo-circle
                        #logo-number 4
                        #logo-name Ponto 4 u
        block content
        block foot
            footer
                p &copy;LunaticCode
