ul {
    &#menu {
        height: 43px;
        background-color: #7A4F94;
        list-style: none;
        color: #fdfdfb;
        vertical-align: middle;
        li {
            display: inline-block;
            vertical-align: middle;
            a {
                padding: 12px 20px;
                line-height: 2.7em;
                cursor: pointer;
                color: #fdfdfb;
                text-decoration: none;
            }
            &:hover {
                background-color: #611c89;
            }
        }
    }
}
