#pomodoro-timer {
    width: 90px;
    height: 90px;
    margin: auto;
    position: relative;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	&#pomodoro {
        z-index: 1;
        top: 5px;
        left: 5px;
	}
	&#plant {
        z-index: 2;
	}
}

ul#pomodoro-controls {
    height: 43px;
    background-color: #7A4F94;
    list-style: none;
    color: #fdfdfb;
    vertical-align: middle;
    width: 176px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 43px;
    &li {
        display: inline-block;
        vertical-align: middle;
        &a {
            padding: 12px 10px;
            line-height: 2.7em;
            cursor: pointer;
            color: #fdfdfb;
            text-decoration: none;
        }
    }

}
#pomodoro-trigger {
    cursor: pointer;
}
